------------
------------

Nettoyage de la colonne Place

In [ ]:
import pandas as pd

df_inscriptions = pd.read_csv('/content/cyprus-inscriptions.csv', sep=',', encoding='utf-8-sig', engine='python')
df_inscriptions

,Inscription #,Type,Place,Date,Nature,Material
0,ICS #456: p.389,CS?,Cyrenaica,NaN,No interpretation: ancient (archaizing) imitat...,Serpentine scarab.
1,ICS #419: p.373,CS,Egypt: Abydos \r(temple of Ramses II),Classical\rearly 4th,PN: Timos \rson of Thursiya.,Stone wall. \rGraffito.
2,ICS #392: pp.363-4,CS,Egypt: Abydos \r(temple of Seti I),Classical\rearly 4th,PN: Menokretes \rfrom Salamis.,Stone wall.\rGraffito.
3,ICS #388: p.362,EC?,Egypt: Abydos \r(temple of Seti I),Classical\rearly 4th,PN: an Eteo-Cypriot?,Stone wall. \rGraffito.
4,ICS #391: p.363,CS,Egypt: Abydos \r(temple of Seti I),Classical\rearly 4th,PN?,Stone wall. \rGraffito.
...,...,...,...,...,...,...
3800,Enkomi (Schaeffer) 1959 #4\r=Les cylindres-sce...,CM?,Famagusta: Enkomi,LC 3A,1 sign?,Cylinder seal:\rbrown steatite or serpentine.
3801,Louvre AM 1639\r=BCH 81 (1957) #9: pp.14-15,CM,Famagusta: Sinda,early LC 3A,1 sign.,Cylinder seal: hematite.
3802,"Kourion B1625\r=Bamboula at Kourion, p.144\r",CM?,"Limassol: Kourion \r""Bamboula""",LC 3A,1 sign? (secondary carving),Cylinder seal:\rsteatite.
3803,"K-AD #448\r=K-AD II, p.40, fig.63:6",CM?,"Larnaca: Kalavasos ""Ayios Dhimitrios""",LC 2C,1 sign.,Metal weight.
3804,"K-AD #449\r=K-AD II, p.40, fig.63:7",CM?,"Larnaca: Kalavasos\r""Ayios Dhimitrios""",LC 2C,1 sign.,Metal weight.

In [ ]:
# Nettoyer le DataFrame pour les noms de lieux
split_1 = df_inscriptions['Place'].str.split(':', n=1, expand=True)
df_inscriptions['Place_Region'] = split_1[0].str.strip()
df_inscriptions['Place_Site_Raw'] = split_1[1].str.strip()
split_2 = df_inscriptions['Place_Site_Raw'].str.split(r'[\(\"]', n=1, expand=True)
df_inscriptions['Place_Site'] = split_2[0].str.strip()
df_inscriptions['Place_precision'] = split_2[1].str.replace(r'[\)\"]', '', regex=True).str.strip()
df_inscriptions.drop(columns=['Place_Site_Raw'], inplace=True)
df_inscriptions.to_csv('cyprus-inscriptions-clean.csv', index=False)
print(df_inscriptions.value_counts('Place_Region'))
print(df_inscriptions.value_counts('Place_Site'))
print(df_inscriptions.value_counts('Place_precision'))

Place_Region
Paphos               967
Limassol             954
Nicosia              604
Famagusta            527
Larnaca              404
Cyprus               139
Egypt                115
Kyrenia               45
Paphos?               15
Syria                  7
Limassol?              5
Cyprus?                4
Greece                 4
Larnaca?               3
Limassol ?             3
Lebanon                2
Cyrenaica              1
Famagusta?             1
Israel                 1
Italy                  1
Nicosia?               1
Nicosia? Larnaca?      1
Syria?                 1
Name: count, dtype: int64
Place_Site
Kafizin                  340
Amathus\rAyios Tychon    256
Kouklia,\rSiege Mound    228
Larnaca \rKition         207
Rantidi                  173
                        ...
Yialia                     1
Yeroskipou                 1
Alambra                    1
Achelia                    1
Aknha                      1
Name: count, Length: 374, dtype: int64
Place_precision
temple of Achoris          61
temple of Seti I           45
Ayios Philon               22
Cellarka                   15
Ayios Georghios\rKition    14
                           ..
Valley of the Kings         1
pyramid of Cheops           1
Yorkaes                     1
temple of Ramses II         1
temple of Thutmosis III     1
Name: count, Length: 165, dtype: int64

On voit qu'il n'y a pas énormément de noms de région, ce qui est bien pour nous. Il conviendra de nettoyer quelques valeurs. La pratique rigoureuse sera de drop les valeurs avec un point d'interrogation du DataFrame.
Quant aux sites, j'affiche les valeurs uniques pour voir si on ne peut pas les normaliser.

In [ ]:
df_inscriptions = df_inscriptions[~df_inscriptions['Place'].str.contains(r'\?', na=False)]
df_inscriptions.value_counts('Place_Region')

Place_Region
Paphos       940
Limassol     936
Nicosia      588
Famagusta    510
Larnaca      398
Cyprus       139
Egypt        115
Kyrenia       43
Syria          6
Greece         4
Lebanon        2
Cyrenaica      1
Israel         1
Italy          1
Name: count, dtype: int64

In [ ]:
df_inscriptions['Place_Site'].unique()

array([None, 'Abydos', 'Ehnasya', 'Gebel Abou Fodah', 'Gizeh', 'Karnak',
       'Naukratis', 'Nubia, Bouhen', 'Shatt El-Saba El Rigal', 'Thebes',
       'Athens', 'Delphi', 'Rhodes', 'Tel Dor', 'Policoro', 'Sarepta',
       'Sidon', 'Ras Shamra', 'Akanthou', 'Akhna', 'Aknha', 'Akrotiri',
       'Alep, \rnear Salamis', 'Angastina', 'Arsos', 'Ayia Triada',
       'Ayios Varnavas', 'Drosistis, \rnear Sinda', 'Enkomi', 'Famagusta',
       'Gypsos, near Salamis.', 'Knodhara, near Salamis',
       'Koma tou Yalou', 'Kouklia, near Salamis', 'Limnia', 'Magrastica',
       'Marathovounos', 'near Rhizokarpaso', 'Phrenaros, near Famagusta',
       'Rhizokarpasso', 'Rizokarpaso', 'Salamis', 'Salamis,\ragora',
       'Salamis, Basilica', 'Salamis, gymnasium',
       'Salamis, gymnasium baths', 'Salamis, sanctuary of Zeus',
       'Salamis,\rtheater', 'Sklinitzia, near Salamis',
       'Syncrasis, near Salamis', 'Yalousa', 'Ayia Eirene',
       'Ayios Ambrosios', 'between Ayios Epiktitos & Bellapais',
       'Dhiorios', 'Harmanlar,\rnear Kyrenia', 'Kazaphani', 'Kyrenia',
       'Lapithos', 'Melandrina, near Ayios Ambrosios', 'Asgata',
       'Athienou\rGolgoi', 'Dhekelia', 'Dhekhelia',
       'Gai,\rnear Dromolaxia', 'Hala Sultan Tekke', 'Kalavasos',
       'Kellia', 'Kiti', 'Kophinou', 'Larnaca', 'Larnaca \rKition',
       'Larnaca\rKition', 'Larnaca,\rsanctuary of Artemis Paralia',
       'Laxia tou Solomou', 'Leukolla', 'Louroujina', 'Mari', 'Maroni',
       'Melousha, \rnear Athienou', 'Pyla', 'Scarino', 'Tremethousha',
       'Tremetousha', 'Troulloi', 'Amathus\racropolis',
       'Amathus\racropolis \rsanct. Aphrodite',
       'Amathus\racropolis\rsanctuary Aphrodite', 'Amathus',
       'Amathus\rArmenochori', 'Amathus\rAyios Tychon',
       'Amathus\rE necropolis', 'Amathus \rE necropolis',
       'Amathus\rE necropolis T.163', 'Amathus\rE necropolis T.254',
       'Amathus\rE necropolis T.276', 'Amathus\rE necropolis T.278',
       'Amathus\rE necropolis T.284', 'Amathus\rE necropolis T.342',
       'Amathus\rE necropolis T.354', 'Amathus\rE necropolis T.360',
       'Amathus\rE necropolis T.589', 'Amathus\rE necropolis T.635',
       'Amathus\rE necropolis T.639', 'Amathus\rE necropolis T.641',
       'Amathus\rE necropolis T.645', 'Amathus\rE necropolisT.635',
       'Amathus\rE necropolisT.639', 'Amathus\rKhani tis Monis',
       'Amathus\rN necropolis', 'Amathus\rParekklesia',
       'Amathus\rSW necropolis', 'Amathus\rSW necropolis T.127',
       'Amathus\rSW necropolis T.147', 'Amathus\rSW necropolis T.185',
       'Amathus\rSW necropolis T.191A', 'Amathus\rSW necropolis T.194',
       'Amathus\rSW necropolis T.215', 'Amathus\rSW necropolis T.220',
       'Amathus\rSW necropolis T.256', 'Amathus\rSW necropolis T.27',
       'Amathus\rSW necropolis T.32', 'Amathus\rSW necropolisT.116',
       'Amathus\rSW necropolisT.124', 'Amathus\rSW necropolisT.141',
       'Amathus\rT.126', 'Amathus T.148', 'Amathus\rT.21',
       'Amathus\rT.213', 'Amathus\rT.32', 'Amathus\rT.33',
       'Amathus\rT.48', 'Amathus\rT.96', 'Amathus \rT.A128',
       'Amathus\rT.A128', 'Amathus\rT.A148', 'Amathus\rT.A167',
       'Amathus\rT.A178', 'Amathus \rT.A178', 'Amathus\rT.A204',
       'Amathus\rT.A207', 'Amathus\rT.A213', 'Amathus\rT.A216',
       'Amathus\rT.A224', 'Amathus\rT.A233', 'Amathus\rT.A245',
       'Amathus\rT.A39', 'Amathus\rW necropolis',
       'Amathus\rW necropolis T.265', 'Amathus\rW necropolis T.317',
       'Amathus\rW necropolis T.318', 'Amathus\rW necropolis T.320',
       'Amathus\rW necropolis T.347', 'Ano Kyvides', 'Anogyra', 'Apeshia',
       'Apheshia', 'Avdemou', 'Ayios Athanansios', 'Ayios Athanasios',
       'Ayios Georgios', 'Ayios Hermogenis, \rnear Kourion', 'Episkopi',
       'Gerasa', 'Kato Pissouri', 'Khandria', 'Khirokitia', 'Kourion',
       'Kourion, acropolis', 'Kourion, acropolis: Basilica',
       'Kourion, acropolis: near Basilica', 'Kourion Episkopi',
       'Kourion \rHouse of the Achilleus Mosaic',
       'Kourion\rnear acropolis', 'Kourion \rnear Basilica',
       'Kourion \rsanct. Demeter & Kore', 'Kourion sanctuary of Apollo',
       'Kourion\rtemple of Hylate', 'Kourion\rtheater',
       'Kourion \rVilla of the Gladiators', 'Kourion Yerakarka',
       'Limassol', "Limassol 'Limnazousa", 'LimassoL', 'Limnati',
       'Mathikoloni', 'Mesa Yetonia', 'Moni', 'Mouttayiaka',
       'near Ayios Tychon', 'near Kourion', 'near Yermasoyia', 'Palodia',
       'Pano Polemidia', 'Pano Polimidhia', 'Paramali', 'Phasoulla',
       'Phasoulla,\rsanctuary of Zeus', 'Polemidhia', 'Pyrgos',
       'Pyrgos,\rnear Athienou', "Sotira \r'Mandra tou Markou", 'Souni',
       'south of Evdhimos, near Kourion', 'Spitali', 'Tochni', 'Trachoni',
       'Tsiflikoudkia', 'Yermasoyia', 'Akhera', 'Alambra',
       'Aphania, \rnear Chytroi', 'Argaki tou Ktistou', 'Ayia Kepir',
       'Chytroi', 'Deftera', 'Dhali\rIdalion', 'Galini', 'Kafizin',
       'Karavostasi, near Soloi', 'Kato Lakatamia', 'Katydhata', 'Klerou',
       'Korakou', 'Koutrafas', 'Lakatamia', 'Lefka', 'Lysi',
       'Lythrodontas, near Nicosia', 'Meniko', 'Mersinaki,\rnear Soloi',
       'Morphou', 'near  Dhali/Idalion', 'Nicosia',
       'Ornithi, \rnear Chytroi', 'Paradeisia', 'Politiko\rTamassos',
       'Schera', 'Soloi\rPotamos tou Kambou',
       'Soloi\rPotamos tou Kambou,', 'Vouni', 'Achelia', 'Akamas area',
       'Amargetti', 'Archimandrita', 'Armou', 'Ayia Moni',
       'Ayios Epiphanios, \rnear Kouklia', 'Ayios Georghis tis Peyias',
       'Ayios \rGeorghis tis Peyias', 'Chrysochou',
       'Kato Alonia, near Kouklia', 'Kato Paphos', 'Khapotami',
       'Khapotami, \r600 m. to the west', 'Khloraka', 'Kissonerga',
       'Kouklia', 'Kouklia, \rtemple area', 'Kritou Terra', 'Mandria',
       'Marathounta, near Ktima', 'Nea Paphos',
       'Nea Paphos,\rHouse of Dionysos', 'Palaiokastro', 'Pano Arodhes',
       'Paphos', 'Pissouri', 'Platanistias', 'Polis\rArsinoe',
       'Polis\rMarion', 'Polis\rMarion/ Arsinoe', 'Polis', 'Rantidi',
       'Stavros Myrtou', 'Steni, \rnear Polis', 'Tala',
       'west of \rLakkos tou Phrangou', 'Aphendrika',
       'Constanzia, near Salamis', 'Galinoporni', 'Kalopsidha',
       'Lefkoniko', 'Salamis\rnecropolis',
       'Melandryna, near Ayios Amvrosios', 'Myrtou', 'Athienou', 'Pyrga',
       'Amathus, \racropolis', 'Kourion\racropolis', 'Kourion \rAltar 1',
       'Kourion \rnear temple of Apollo',
       'Kourion \rsanctuary of Demeter & Kore', 'Sanida', 'Sotira',
       'Dhali\rIdalion\rsanctuary of Athena',
       'Dhali\rIdalion\rtemple of Apollo', 'Dhenia',
       'Koupati,\rnear Ledra', 'Koupati, \rnear Ledra',
       'Phrangissa, sanctuary of Apollo', 'Toumba tou Skourou',
       'Vouni, necropolis', 'Vouni,\rtemple of Athena',
       'Argaro, \rnear Kouklia', 'Kouklia KD', 'Dhrymou',
       'Eleomylia,\r near Kouklia', 'Eleomylia, \rnear Kouklia',
       'Kouklia TE', 'Kouklia KB', 'Hassan Agha, near Kouklia',
       'Kato Arodhes', 'Khapotami river, near Kouklia',
       'Kouklia KC, temple area', 'Kouklia,\rSiege Mound', 'Lapithiou',
       'Limni', 'Maa', 'Mantissa, \rnear Kouklia',
       'Polis\rMarion/ Arsinoe, Necropolis I', 'Polis\rMarion/ Arsinoe,',
       'Polis\rMarion, Site A', 'Polis\rMarion/ Arsinoe, \rSite A',
       'Polis\rMarion/ Arsinoe, \rSite B',
       'Polis\rMarion/ Arsinoe, \rSite  B', 'Polis\rMarion, Site C',
       'Polis\rMarion, Site I', 'Polis\rMarion/ Arsinoe, \rSite I',
       'Polis\rMarion, \rSite I', 'Polis\rMarion/ Arsinoe, \rSite II',
       'Polis\rMarion/ Arsinoe, \rSite III',
       'Polis\rMarion/ Arsinoe, \rSite K', 'Polis\rMarion, Site K',
       'Polis\rMarion/ Arsinoe, \rSite M', 'near Kouklia',
       'Palaeomylos, near Kouklia', 'Palaepaphos', 'Salamiou',
       'Xylinos,\rnear Kouklia', 'Xylinos, \rnear Kouklia', 'Yeroskipou',
       'Yialia', 'Amathus\racropolis, sanctuary of Aphrodite', 'Apliki',
       'Sinda'], dtype=object)

In [ ]:
df_inscriptions['Place_Site'] = df_inscriptions['Place_Site'].str.replace(r'[\r\n]+', ' ', regex=True).str.strip()
df_inscriptions['Place_Site'] = df_inscriptions['Place_Site'].str.replace(r'\s+', ' ', regex=True)
df_inscriptions['Place_Site'].unique()
# J'enlève tout ce qui commence par "near" pour n'avoir que des données précises
df_inscriptions = df_inscriptions[~df_inscriptions['Place_Site'].str.startswith('near').fillna(False)]
df_inscriptions['Place_Site'].unique()

/tmp/ipython-input-812433570.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inscriptions['Place_Site'] = df_inscriptions['Place_Site'].str.replace(r'[\r\n]+', ' ', regex=True).str.strip()
/tmp/ipython-input-812433570.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inscriptions['Place_Site'] = df_inscriptions['Place_Site'].str.replace(r'\s+', ' ', regex=True)
/tmp/ipython-input-812433570.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_inscriptions = df_inscriptions[~df_inscriptions['Place_Site'].str.startswith('near').fillna(False)]

array([None, 'Abydos', 'Ehnasya', 'Gebel Abou Fodah', 'Gizeh', 'Karnak',
       'Naukratis', 'Nubia, Bouhen', 'Shatt El-Saba El Rigal', 'Thebes',
       'Athens', 'Delphi', 'Rhodes', 'Tel Dor', 'Policoro', 'Sarepta',
       'Sidon', 'Ras Shamra', 'Akanthou', 'Akhna', 'Aknha', 'Akrotiri',
       'Alep, near Salamis', 'Angastina', 'Arsos', 'Ayia Triada',
       'Ayios Varnavas', 'Drosistis, near Sinda', 'Enkomi', 'Famagusta',
       'Gypsos, near Salamis.', 'Knodhara, near Salamis',
       'Koma tou Yalou', 'Kouklia, near Salamis', 'Limnia', 'Magrastica',
       'Marathovounos', 'Phrenaros, near Famagusta', 'Rhizokarpasso',
       'Rizokarpaso', 'Salamis', 'Salamis, agora', 'Salamis, Basilica',
       'Salamis, gymnasium', 'Salamis, gymnasium baths',
       'Salamis, sanctuary of Zeus', 'Salamis, theater',
       'Sklinitzia, near Salamis', 'Syncrasis, near Salamis', 'Yalousa',
       'Ayia Eirene', 'Ayios Ambrosios',
       'between Ayios Epiktitos & Bellapais', 'Dhiorios',
       'Harmanlar, near Kyrenia', 'Kazaphani', 'Kyrenia', 'Lapithos',
       'Melandrina, near Ayios Ambrosios', 'Asgata', 'Athienou Golgoi',
       'Dhekelia', 'Dhekhelia', 'Gai, near Dromolaxia',
       'Hala Sultan Tekke', 'Kalavasos', 'Kellia', 'Kiti', 'Kophinou',
       'Larnaca', 'Larnaca Kition',
       'Larnaca, sanctuary of Artemis Paralia', 'Laxia tou Solomou',
       'Leukolla', 'Louroujina', 'Mari', 'Maroni',
       'Melousha, near Athienou', 'Pyla', 'Scarino', 'Tremethousha',
       'Tremetousha', 'Troulloi', 'Amathus acropolis',
       'Amathus acropolis sanct. Aphrodite',
       'Amathus acropolis sanctuary Aphrodite', 'Amathus',
       'Amathus Armenochori', 'Amathus Ayios Tychon',
       'Amathus E necropolis', 'Amathus E necropolis T.163',
       'Amathus E necropolis T.254', 'Amathus E necropolis T.276',
       'Amathus E necropolis T.278', 'Amathus E necropolis T.284',
       'Amathus E necropolis T.342', 'Amathus E necropolis T.354',
       'Amathus E necropolis T.360', 'Amathus E necropolis T.589',
       'Amathus E necropolis T.635', 'Amathus E necropolis T.639',
       'Amathus E necropolis T.641', 'Amathus E necropolis T.645',
       'Amathus E necropolisT.635', 'Amathus E necropolisT.639',
       'Amathus Khani tis Monis', 'Amathus N necropolis',
       'Amathus Parekklesia', 'Amathus SW necropolis',
       'Amathus SW necropolis T.127', 'Amathus SW necropolis T.147',
       'Amathus SW necropolis T.185', 'Amathus SW necropolis T.191A',
       'Amathus SW necropolis T.194', 'Amathus SW necropolis T.215',
       'Amathus SW necropolis T.220', 'Amathus SW necropolis T.256',
       'Amathus SW necropolis T.27', 'Amathus SW necropolis T.32',
       'Amathus SW necropolisT.116', 'Amathus SW necropolisT.124',
       'Amathus SW necropolisT.141', 'Amathus T.126', 'Amathus T.148',
       'Amathus T.21', 'Amathus T.213', 'Amathus T.32', 'Amathus T.33',
       'Amathus T.48', 'Amathus T.96', 'Amathus T.A128', 'Amathus T.A148',
       'Amathus T.A167', 'Amathus T.A178', 'Amathus T.A204',
       'Amathus T.A207', 'Amathus T.A213', 'Amathus T.A216',
       'Amathus T.A224', 'Amathus T.A233', 'Amathus T.A245',
       'Amathus T.A39', 'Amathus W necropolis',
       'Amathus W necropolis T.265', 'Amathus W necropolis T.317',
       'Amathus W necropolis T.318', 'Amathus W necropolis T.320',
       'Amathus W necropolis T.347', 'Ano Kyvides', 'Anogyra', 'Apeshia',
       'Apheshia', 'Avdemou', 'Ayios Athanansios', 'Ayios Athanasios',
       'Ayios Georgios', 'Ayios Hermogenis, near Kourion', 'Episkopi',
       'Gerasa', 'Kato Pissouri', 'Khandria', 'Khirokitia', 'Kourion',
       'Kourion, acropolis', 'Kourion, acropolis: Basilica',
       'Kourion, acropolis: near Basilica', 'Kourion Episkopi',
       'Kourion House of the Achilleus Mosaic', 'Kourion near acropolis',
       'Kourion near Basilica', 'Kourion sanct. Demeter & Kore',
       'Kourion sanctuary of Apollo', 'Kourion temple of Hylate',
       'Kourion theater', 'Kourion Villa of the Gladiators',
       'Kourion Yerakarka', 'Limassol', "Limassol 'Limnazousa",
       'LimassoL', 'Limnati', 'Mathikoloni', 'Mesa Yetonia', 'Moni',
       'Mouttayiaka', 'Palodia', 'Pano Polemidia', 'Pano Polimidhia',
       'Paramali', 'Phasoulla', 'Phasoulla, sanctuary of Zeus',
       'Polemidhia', 'Pyrgos', 'Pyrgos, near Athienou',
       "Sotira 'Mandra tou Markou", 'Souni',
       'south of Evdhimos, near Kourion', 'Spitali', 'Tochni', 'Trachoni',
       'Tsiflikoudkia', 'Yermasoyia', 'Akhera', 'Alambra',
       'Aphania, near Chytroi', 'Argaki tou Ktistou', 'Ayia Kepir',
       'Chytroi', 'Deftera', 'Dhali Idalion', 'Galini', 'Kafizin',
       'Karavostasi, near Soloi', 'Kato Lakatamia', 'Katydhata', 'Klerou',
       'Korakou', 'Koutrafas', 'Lakatamia', 'Lefka', 'Lysi',
       'Lythrodontas, near Nicosia', 'Meniko', 'Mersinaki, near Soloi',
       'Morphou', 'Nicosia', 'Ornithi, near Chytroi', 'Paradeisia',
       'Politiko Tamassos', 'Schera', 'Soloi Potamos tou Kambou',
       'Soloi Potamos tou Kambou,', 'Vouni', 'Achelia', 'Akamas area',
       'Amargetti', 'Archimandrita', 'Armou', 'Ayia Moni',
       'Ayios Epiphanios, near Kouklia', 'Ayios Georghis tis Peyias',
       'Chrysochou', 'Kato Alonia, near Kouklia', 'Kato Paphos',
       'Khapotami', 'Khapotami, 600 m. to the west', 'Khloraka',
       'Kissonerga', 'Kouklia', 'Kouklia, temple area', 'Kritou Terra',
       'Mandria', 'Marathounta, near Ktima', 'Nea Paphos',
       'Nea Paphos, House of Dionysos', 'Palaiokastro', 'Pano Arodhes',
       'Paphos', 'Pissouri', 'Platanistias', 'Polis Arsinoe',
       'Polis Marion', 'Polis Marion/ Arsinoe', 'Polis', 'Rantidi',
       'Stavros Myrtou', 'Steni, near Polis', 'Tala',
       'west of Lakkos tou Phrangou', 'Aphendrika',
       'Constanzia, near Salamis', 'Galinoporni', 'Kalopsidha',
       'Lefkoniko', 'Salamis necropolis',
       'Melandryna, near Ayios Amvrosios', 'Myrtou', 'Athienou', 'Pyrga',
       'Amathus, acropolis', 'Kourion acropolis', 'Kourion Altar 1',
       'Kourion near temple of Apollo',
       'Kourion sanctuary of Demeter & Kore', 'Sanida', 'Sotira',
       'Dhali Idalion sanctuary of Athena',
       'Dhali Idalion temple of Apollo', 'Dhenia', 'Koupati, near Ledra',
       'Phrangissa, sanctuary of Apollo', 'Toumba tou Skourou',
       'Vouni, necropolis', 'Vouni, temple of Athena',
       'Argaro, near Kouklia', 'Kouklia KD', 'Dhrymou',
       'Eleomylia, near Kouklia', 'Kouklia TE', 'Kouklia KB',
       'Hassan Agha, near Kouklia', 'Kato Arodhes',
       'Khapotami river, near Kouklia', 'Kouklia KC, temple area',
       'Kouklia, Siege Mound', 'Lapithiou', 'Limni', 'Maa',
       'Mantissa, near Kouklia', 'Polis Marion/ Arsinoe, Necropolis I',
       'Polis Marion/ Arsinoe,', 'Polis Marion, Site A',
       'Polis Marion/ Arsinoe, Site A', 'Polis Marion/ Arsinoe, Site B',
       'Polis Marion, Site C', 'Polis Marion, Site I',
       'Polis Marion/ Arsinoe, Site I', 'Polis Marion/ Arsinoe, Site II',
       'Polis Marion/ Arsinoe, Site III', 'Polis Marion/ Arsinoe, Site K',
       'Polis Marion, Site K', 'Polis Marion/ Arsinoe, Site M',
       'Palaeomylos, near Kouklia', 'Palaepaphos', 'Salamiou',
       'Xylinos, near Kouklia', 'Yeroskipou', 'Yialia',
       'Amathus acropolis, sanctuary of Aphrodite', 'Apliki', 'Sinda'],
      dtype=object)

In [ ]:
mapping_corrections = {
    'Aknha': 'Akhna',
    'Dhekhelia': 'Dhekelia',
    'LimassoL': 'Limassol',
    'Rhizokarpasso': 'Rhizokarpaso',
    'Tremethousha': 'Tremetousha',
    'Apheshia': 'Apeshia',
    'Pano Polimidhia': 'Pano Polemidia'
}
df_inscriptions['Place_Site'] = df_inscriptions['Place_Site'].replace(mapping_corrections)
df_inscriptions['Place_Site'].unique()

array([None, 'Abydos', 'Ehnasya', 'Gebel Abou Fodah', 'Gizeh', 'Karnak',
       'Naukratis', 'Nubia, Bouhen', 'Shatt El-Saba El Rigal', 'Thebes',
       'Athens', 'Delphi', 'Rhodes', 'Tel Dor', 'Policoro', 'Sarepta',
       'Sidon', 'Ras Shamra', 'Akanthou', 'Akhna', 'Akrotiri',
       'Alep, near Salamis', 'Angastina', 'Arsos', 'Ayia Triada',
       'Ayios Varnavas', 'Drosistis, near Sinda', 'Enkomi', 'Famagusta',
       'Gypsos, near Salamis.', 'Knodhara, near Salamis',
       'Koma tou Yalou', 'Kouklia, near Salamis', 'Limnia', 'Magrastica',
       'Marathovounos', 'Phrenaros, near Famagusta', 'Rhizokarpaso',
       'Rizokarpaso', 'Salamis', 'Salamis, agora', 'Salamis, Basilica',
       'Salamis, gymnasium', 'Salamis, gymnasium baths',
       'Salamis, sanctuary of Zeus', 'Salamis, theater',
       'Sklinitzia, near Salamis', 'Syncrasis, near Salamis', 'Yalousa',
       'Ayia Eirene', 'Ayios Ambrosios',
       'between Ayios Epiktitos & Bellapais', 'Dhiorios',
       'Harmanlar, near Kyrenia', 'Kazaphani', 'Kyrenia', 'Lapithos',
       'Melandrina, near Ayios Ambrosios', 'Asgata', 'Athienou Golgoi',
       'Dhekelia', 'Gai, near Dromolaxia', 'Hala Sultan Tekke',
       'Kalavasos', 'Kellia', 'Kiti', 'Kophinou', 'Larnaca',
       'Larnaca Kition', 'Larnaca, sanctuary of Artemis Paralia',
       'Laxia tou Solomou', 'Leukolla', 'Louroujina', 'Mari', 'Maroni',
       'Melousha, near Athienou', 'Pyla', 'Scarino', 'Tremetousha',
       'Troulloi', 'Amathus acropolis',
       'Amathus acropolis sanct. Aphrodite',
       'Amathus acropolis sanctuary Aphrodite', 'Amathus',
       'Amathus Armenochori', 'Amathus Ayios Tychon',
       'Amathus E necropolis', 'Amathus E necropolis T.163',
       'Amathus E necropolis T.254', 'Amathus E necropolis T.276',
       'Amathus E necropolis T.278', 'Amathus E necropolis T.284',
       'Amathus E necropolis T.342', 'Amathus E necropolis T.354',
       'Amathus E necropolis T.360', 'Amathus E necropolis T.589',
       'Amathus E necropolis T.635', 'Amathus E necropolis T.639',
       'Amathus E necropolis T.641', 'Amathus E necropolis T.645',
       'Amathus E necropolisT.635', 'Amathus E necropolisT.639',
       'Amathus Khani tis Monis', 'Amathus N necropolis',
       'Amathus Parekklesia', 'Amathus SW necropolis',
       'Amathus SW necropolis T.127', 'Amathus SW necropolis T.147',
       'Amathus SW necropolis T.185', 'Amathus SW necropolis T.191A',
       'Amathus SW necropolis T.194', 'Amathus SW necropolis T.215',
       'Amathus SW necropolis T.220', 'Amathus SW necropolis T.256',
       'Amathus SW necropolis T.27', 'Amathus SW necropolis T.32',
       'Amathus SW necropolisT.116', 'Amathus SW necropolisT.124',
       'Amathus SW necropolisT.141', 'Amathus T.126', 'Amathus T.148',
       'Amathus T.21', 'Amathus T.213', 'Amathus T.32', 'Amathus T.33',
       'Amathus T.48', 'Amathus T.96', 'Amathus T.A128', 'Amathus T.A148',
       'Amathus T.A167', 'Amathus T.A178', 'Amathus T.A204',
       'Amathus T.A207', 'Amathus T.A213', 'Amathus T.A216',
       'Amathus T.A224', 'Amathus T.A233', 'Amathus T.A245',
       'Amathus T.A39', 'Amathus W necropolis',
       'Amathus W necropolis T.265', 'Amathus W necropolis T.317',
       'Amathus W necropolis T.318', 'Amathus W necropolis T.320',
       'Amathus W necropolis T.347', 'Ano Kyvides', 'Anogyra', 'Apeshia',
       'Avdemou', 'Ayios Athanansios', 'Ayios Athanasios',
       'Ayios Georgios', 'Ayios Hermogenis, near Kourion', 'Episkopi',
       'Gerasa', 'Kato Pissouri', 'Khandria', 'Khirokitia', 'Kourion',
       'Kourion, acropolis', 'Kourion, acropolis: Basilica',
       'Kourion, acropolis: near Basilica', 'Kourion Episkopi',
       'Kourion House of the Achilleus Mosaic', 'Kourion near acropolis',
       'Kourion near Basilica', 'Kourion sanct. Demeter & Kore',
       'Kourion sanctuary of Apollo', 'Kourion temple of Hylate',
       'Kourion theater', 'Kourion Villa of the Gladiators',
       'Kourion Yerakarka', 'Limassol', "Limassol 'Limnazousa", 'Limnati',
       'Mathikoloni', 'Mesa Yetonia', 'Moni', 'Mouttayiaka', 'Palodia',
       'Pano Polemidia', 'Paramali', 'Phasoulla',
       'Phasoulla, sanctuary of Zeus', 'Polemidhia', 'Pyrgos',
       'Pyrgos, near Athienou', "Sotira 'Mandra tou Markou", 'Souni',
       'south of Evdhimos, near Kourion', 'Spitali', 'Tochni', 'Trachoni',
       'Tsiflikoudkia', 'Yermasoyia', 'Akhera', 'Alambra',
       'Aphania, near Chytroi', 'Argaki tou Ktistou', 'Ayia Kepir',
       'Chytroi', 'Deftera', 'Dhali Idalion', 'Galini', 'Kafizin',
       'Karavostasi, near Soloi', 'Kato Lakatamia', 'Katydhata', 'Klerou',
       'Korakou', 'Koutrafas', 'Lakatamia', 'Lefka', 'Lysi',
       'Lythrodontas, near Nicosia', 'Meniko', 'Mersinaki, near Soloi',
       'Morphou', 'Nicosia', 'Ornithi, near Chytroi', 'Paradeisia',
       'Politiko Tamassos', 'Schera', 'Soloi Potamos tou Kambou',
       'Soloi Potamos tou Kambou,', 'Vouni', 'Achelia', 'Akamas area',
       'Amargetti', 'Archimandrita', 'Armou', 'Ayia Moni',
       'Ayios Epiphanios, near Kouklia', 'Ayios Georghis tis Peyias',
       'Chrysochou', 'Kato Alonia, near Kouklia', 'Kato Paphos',
       'Khapotami', 'Khapotami, 600 m. to the west', 'Khloraka',
       'Kissonerga', 'Kouklia', 'Kouklia, temple area', 'Kritou Terra',
       'Mandria', 'Marathounta, near Ktima', 'Nea Paphos',
       'Nea Paphos, House of Dionysos', 'Palaiokastro', 'Pano Arodhes',
       'Paphos', 'Pissouri', 'Platanistias', 'Polis Arsinoe',
       'Polis Marion', 'Polis Marion/ Arsinoe', 'Polis', 'Rantidi',
       'Stavros Myrtou', 'Steni, near Polis', 'Tala',
       'west of Lakkos tou Phrangou', 'Aphendrika',
       'Constanzia, near Salamis', 'Galinoporni', 'Kalopsidha',
       'Lefkoniko', 'Salamis necropolis',
       'Melandryna, near Ayios Amvrosios', 'Myrtou', 'Athienou', 'Pyrga',
       'Amathus, acropolis', 'Kourion acropolis', 'Kourion Altar 1',
       'Kourion near temple of Apollo',
       'Kourion sanctuary of Demeter & Kore', 'Sanida', 'Sotira',
       'Dhali Idalion sanctuary of Athena',
       'Dhali Idalion temple of Apollo', 'Dhenia', 'Koupati, near Ledra',
       'Phrangissa, sanctuary of Apollo', 'Toumba tou Skourou',
       'Vouni, necropolis', 'Vouni, temple of Athena',
       'Argaro, near Kouklia', 'Kouklia KD', 'Dhrymou',
       'Eleomylia, near Kouklia', 'Kouklia TE', 'Kouklia KB',
       'Hassan Agha, near Kouklia', 'Kato Arodhes',
       'Khapotami river, near Kouklia', 'Kouklia KC, temple area',
       'Kouklia, Siege Mound', 'Lapithiou', 'Limni', 'Maa',
       'Mantissa, near Kouklia', 'Polis Marion/ Arsinoe, Necropolis I',
       'Polis Marion/ Arsinoe,', 'Polis Marion, Site A',
       'Polis Marion/ Arsinoe, Site A', 'Polis Marion/ Arsinoe, Site B',
       'Polis Marion, Site C', 'Polis Marion, Site I',
       'Polis Marion/ Arsinoe, Site I', 'Polis Marion/ Arsinoe, Site II',
       'Polis Marion/ Arsinoe, Site III', 'Polis Marion/ Arsinoe, Site K',
       'Polis Marion, Site K', 'Polis Marion/ Arsinoe, Site M',
       'Palaeomylos, near Kouklia', 'Palaepaphos', 'Salamiou',
       'Xylinos, near Kouklia', 'Yeroskipou', 'Yialia',
       'Amathus acropolis, sanctuary of Aphrodite', 'Apliki', 'Sinda'],
      dtype=object)

In [ ]:
# Supprimer "T." suivi de chiffres, avec ou sans espaces, et éventuellement une lettre (ex: T.A128)
df_inscriptions['Place_Site'] = (df_inscriptions['Place_Site']
                                 .str.replace(r',?\s*T\s*\.?\s*[A-Z]?\d+\w*', '', regex=True)
                                 .str.strip())
print(df_inscriptions['Place_Site'].unique())
df_inscriptions.value_counts('Place_Site')

[None 'Abydos' 'Ehnasya' 'Gebel Abou Fodah' 'Gizeh' 'Karnak' 'Naukratis'
 'Nubia, Bouhen' 'Shatt El-Saba El Rigal' 'Thebes' 'Athens' 'Delphi'
 'Rhodes' 'Tel Dor' 'Policoro' 'Sarepta' 'Sidon' 'Ras Shamra' 'Akanthou'
 'Akhna' 'Akrotiri' 'Alep, near Salamis' 'Angastina' 'Arsos' 'Ayia Triada'
 'Ayios Varnavas' 'Drosistis, near Sinda' 'Enkomi' 'Famagusta'
 'Gypsos, near Salamis.' 'Knodhara, near Salamis' 'Koma tou Yalou'
 'Kouklia, near Salamis' 'Limnia' 'Magrastica' 'Marathovounos'
 'Phrenaros, near Famagusta' 'Rhizokarpaso' 'Rizokarpaso' 'Salamis'
 'Salamis, agora' 'Salamis, Basilica' 'Salamis, gymnasium'
 'Salamis, gymnasium baths' 'Salamis, sanctuary of Zeus'
 'Salamis, theater' 'Sklinitzia, near Salamis' 'Syncrasis, near Salamis'
 'Yalousa' 'Ayia Eirene' 'Ayios Ambrosios'
 'between Ayios Epiktitos & Bellapais' 'Dhiorios'
 'Harmanlar, near Kyrenia' 'Kazaphani' 'Kyrenia' 'Lapithos'
 'Melandrina, near Ayios Ambrosios' 'Asgata' 'Athienou Golgoi' 'Dhekelia'
 'Gai, near Dromolaxia' 'Hala Sultan Tekke' 'Kalavasos' 'Kellia' 'Kiti'
 'Kophinou' 'Larnaca' 'Larnaca Kition'
 'Larnaca, sanctuary of Artemis Paralia' 'Laxia tou Solomou' 'Leukolla'
 'Louroujina' 'Mari' 'Maroni' 'Melousha, near Athienou' 'Pyla' 'Scarino'
 'Tremetousha' 'Troulloi' 'Amathus acropolis'
 'Amathus acropolis sanct. Aphrodite'
 'Amathus acropolis sanctuary Aphrodite' 'Amathus' 'Amathus Armenochori'
 'Amathus Ayios Tychon' 'Amathus E necropolis' 'Amathus Khani tis Monis'
 'Amathus N necropolis' 'Amathus Parekklesia' 'Amathus SW necropolis'
 'Amathus W necropolis' 'Ano Kyvides' 'Anogyra' 'Apeshia' 'Avdemou'
 'Ayios Athanansios' 'Ayios Athanasios' 'Ayios Georgios'
 'Ayios Hermogenis, near Kourion' 'Episkopi' 'Gerasa' 'Kato Pissouri'
 'Khandria' 'Khirokitia' 'Kourion' 'Kourion, acropolis'
 'Kourion, acropolis: Basilica' 'Kourion, acropolis: near Basilica'
 'Kourion Episkopi' 'Kourion House of the Achilleus Mosaic'
 'Kourion near acropolis' 'Kourion near Basilica'
 'Kourion sanct. Demeter & Kore' 'Kourion sanctuary of Apollo'
 'Kourion temple of Hylate' 'Kourion theater'
 'Kourion Villa of the Gladiators' 'Kourion Yerakarka' 'Limassol'
 "Limassol 'Limnazousa" 'Limnati' 'Mathikoloni' 'Mesa Yetonia' 'Moni'
 'Mouttayiaka' 'Palodia' 'Pano Polemidia' 'Paramali' 'Phasoulla'
 'Phasoulla, sanctuary of Zeus' 'Polemidhia' 'Pyrgos'
 'Pyrgos, near Athienou' "Sotira 'Mandra tou Markou" 'Souni'
 'south of Evdhimos, near Kourion' 'Spitali' 'Tochni' 'Trachoni'
 'Tsiflikoudkia' 'Yermasoyia' 'Akhera' 'Alambra' 'Aphania, near Chytroi'
 'Argaki tou Ktistou' 'Ayia Kepir' 'Chytroi' 'Deftera' 'Dhali Idalion'
 'Galini' 'Kafizin' 'Karavostasi, near Soloi' 'Kato Lakatamia' 'Katydhata'
 'Klerou' 'Korakou' 'Koutrafas' 'Lakatamia' 'Lefka' 'Lysi'
 'Lythrodontas, near Nicosia' 'Meniko' 'Mersinaki, near Soloi' 'Morphou'
 'Nicosia' 'Ornithi, near Chytroi' 'Paradeisia' 'Politiko Tamassos'
 'Schera' 'Soloi Potamos tou Kambou' 'Soloi Potamos tou Kambou,' 'Vouni'
 'Achelia' 'Akamas area' 'Amargetti' 'Archimandrita' 'Armou' 'Ayia Moni'
 'Ayios Epiphanios, near Kouklia' 'Ayios Georghis tis Peyias' 'Chrysochou'
 'Kato Alonia, near Kouklia' 'Kato Paphos' 'Khapotami'
 'Khapotami, 600 m. to the west' 'Khloraka' 'Kissonerga' 'Kouklia'
 'Kouklia, temple area' 'Kritou Terra' 'Mandria' 'Marathounta, near Ktima'
 'Nea Paphos' 'Nea Paphos, House of Dionysos' 'Palaiokastro'
 'Pano Arodhes' 'Paphos' 'Pissouri' 'Platanistias' 'Polis Arsinoe'
 'Polis Marion' 'Polis Marion/ Arsinoe' 'Polis' 'Rantidi' 'Stavros Myrtou'
 'Steni, near Polis' 'Tala' 'west of Lakkos tou Phrangou' 'Aphendrika'
 'Constanzia, near Salamis' 'Galinoporni' 'Kalopsidha' 'Lefkoniko'
 'Salamis necropolis' 'Melandryna, near Ayios Amvrosios' 'Myrtou'
 'Athienou' 'Pyrga' 'Amathus, acropolis' 'Kourion acropolis'
 'Kourion Altar 1' 'Kourion near temple of Apollo'
 'Kourion sanctuary of Demeter & Kore' 'Sanida' 'Sotira'
 'Dhali Idalion sanctuary of Athena' 'Dhali Idalion temple of Apollo'
 'Dhenia' 'Koupati, near Ledra' 'Phrangissa, sanctuary of Apollo'
 'Toumba tou Skourou' 'Vouni, necropolis' 'Vouni, temple of Athena'
 'Argaro, near Kouklia' 'Kouklia KD' 'Dhrymou' 'Eleomylia, near Kouklia'
 'Kouklia TE' 'Kouklia KB' 'Hassan Agha, near Kouklia' 'Kato Arodhes'
 'Khapotami river, near Kouklia' 'Kouklia KC, temple area'
 'Kouklia, Siege Mound' 'Lapithiou' 'Limni' 'Maa' 'Mantissa, near Kouklia'
 'Polis Marion/ Arsinoe, Necropolis I' 'Polis Marion/ Arsinoe,'
 'Polis Marion, Site A' 'Polis Marion/ Arsinoe, Site A'
 'Polis Marion/ Arsinoe, Site B' 'Polis Marion, Site C'
 'Polis Marion, Site I' 'Polis Marion/ Arsinoe, Site I'
 'Polis Marion/ Arsinoe, Site II' 'Polis Marion/ Arsinoe, Site III'
 'Polis Marion/ Arsinoe, Site K' 'Polis Marion, Site K'
 'Polis Marion/ Arsinoe, Site M' 'Palaeomylos, near Kouklia' 'Palaepaphos'
 'Salamiou' 'Xylinos, near Kouklia' 'Yeroskipou' 'Yialia'
 'Amathus acropolis, sanctuary of Aphrodite' 'Apliki' 'Sinda']

Place_Site
Kafizin                                340
Amathus Ayios Tychon                   256
Kouklia, Siege Mound                   228
Larnaca Kition                         208
Rantidi                                173
                                      ...
Achelia                                  1
Yeroskipou                               1
Yialia                                   1
between Ayios Epiktitos & Bellapais      1
south of Evdhimos, near Kourion          1
Name: count, Length: 270, dtype: int64

Au final, je décide de construire un dictionnaire un peu agressif, qui perd certaines précisions, car je travaille ici à l'échelle de l'île.

In [ ]:
normalization_dict = {
    # --- AMATHUS ---
    'Amathus acropolis': 'Amathus',
    'Amathus acropolis sanct. Aphrodite': 'Amathus',
    'Amathus acropolis sanctuary Aphrodite': 'Amathus',
    'Amathus acropolis, sanctuary of Aphrodite': 'Amathus',
    'Amathus Armenochori': 'Amathus',
    'Amathus Ayios Tychon': 'Amathus',
    'Amathus E necropolis': 'Amathus',
    'Amathus Khani tis Monis': 'Amathus',
    'Amathus N necropolis': 'Amathus',
    'Amathus Parekklesia': 'Amathus',
    'Amathus SW necropolis': 'Amathus',
    'Amathus W necropolis': 'Amathus',
    'Amathus, acropolis': 'Amathus',
    'near Ayios Tychon': 'Amathus',

    # --- KOURION ---
    'Kourion acropolis': 'Kourion',
    'Kourion, acropolis': 'Kourion',
    'Kourion, acropolis: Basilica': 'Kourion',
    'Kourion, acropolis: near Basilica': 'Kourion',
    'Kourion Episkopi': 'Kourion',
    'Kourion House of the Achilleus Mosaic': 'Kourion',
    'Kourion near acropolis': 'Kourion',
    'Kourion near Basilica': 'Kourion',
    'Kourion sanct. Demeter & Kore': 'Kourion',
    'Kourion sanctuary of Apollo': 'Kourion',
    'Kourion near temple of Apollo': 'Kourion',
    'Kourion sanctuary of Demeter & Kore': 'Kourion',
    'Kourion temple of Hylate': 'Kourion',
    'Kourion theater': 'Kourion',
    'Kourion Villa of the Gladiators': 'Kourion',
    'Kourion Yerakarka': 'Kourion',
    'Kourion Altar 1': 'Kourion',
    'Ayios Hermogenis, near Kourion': 'Kourion',
    'south of Evdhimos, near Kourion': 'Kourion',
    'near Kourion': 'Kourion',
    'Episkopi': 'Kourion',

    # --- SALAMIS ---
    'Salamis, agora': 'Salamis',
    'Salamis, Basilica': 'Salamis',
    'Salamis, gymnasium': 'Salamis',
    'Salamis, gymnasium baths': 'Salamis',
    'Salamis, sanctuary of Zeus': 'Salamis',
    'Salamis, theater': 'Salamis',
    'Salamis necropolis': 'Salamis',
    'Alep, near Salamis': 'Salamis',
    'Gypsos, near Salamis.': 'Salamis',
    'Knodhara, near Salamis': 'Salamis',
    'Kouklia, near Salamis': 'Salamis',
    'Sklinitzia, near Salamis': 'Salamis',
    'Syncrasis, near Salamis': 'Salamis',
    'Constanzia, near Salamis': 'Salamis',

    # --- KOUKLIA (PALAEPAPHOS) ---
    'Kouklia, temple area': 'Kouklia',
    'Kouklia KD': 'Kouklia',
    'Kouklia TE': 'Kouklia',
    'Kouklia KB': 'Kouklia',
    'Kouklia KC, temple area': 'Kouklia',
    'Kouklia, Siege Mound': 'Kouklia',
    'Ayios Epiphanios, near Kouklia': 'Kouklia',
    'Kato Alonia, near Kouklia': 'Kouklia',
    'Argaro, near Kouklia': 'Kouklia',
    'Eleomylia, near Kouklia': 'Kouklia',
    'Hassan Agha, near Kouklia': 'Kouklia',
    'Khapotami river, near Kouklia': 'Kouklia',
    'Mantissa, near Kouklia': 'Kouklia',
    'Palaeomylos, near Kouklia': 'Kouklia',
    'Xylinos, near Kouklia': 'Kouklia',
    'Palaepaphos': 'Kouklia',
    'near Kouklia': 'Kouklia',

    # --- POLIS (MARION / ARSINOE) ---
    'Polis Arsinoe': 'Polis',
    'Polis Marion': 'Polis',
    'Polis Marion/ Arsinoe': 'Polis',
    'Polis Marion/ Arsinoe, Necropolis I': 'Polis',
    'Polis Marion/ Arsinoe,': 'Polis',
    'Polis Marion, Site A': 'Polis',
    'Polis Marion/ Arsinoe, Site A': 'Polis',
    'Polis Marion/ Arsinoe, Site B': 'Polis',
    'Polis Marion, Site C': 'Polis',
    'Polis Marion, Site I': 'Polis',
    'Polis Marion/ Arsinoe, Site I': 'Polis',
    'Polis Marion/ Arsinoe, Site II': 'Polis',
    'Polis Marion/ Arsinoe, Site III': 'Polis',
    'Polis Marion/ Arsinoe, Site K': 'Polis',
    'Polis Marion, Site K': 'Polis',
    'Polis Marion/ Arsinoe, Site M': 'Polis',
    'Steni, near Polis': 'Polis',

    # --- LARNACA (KITION) ---
    'Larnaca Kition': 'Larnaca',
    'Larnaca, sanctuary of Artemis Paralia': 'Larnaca',
    'Kition': 'Larnaca',

    # --- PAPHOS (NEA PAPHOS) ---
    'Kato Paphos': 'Paphos',
    'Nea Paphos': 'Paphos',
    'Nea Paphos, House of Dionysos': 'Paphos',

    # --- DHALI (IDALION) ---
    'Dhali Idalion': 'Dhali',
    'Dhali Idalion sanctuary of Athena': 'Dhali',
    'Dhali Idalion temple of Apollo': 'Dhali',
    'near Dhali/Idalion': 'Dhali',

    # --- SOLOI ---
    'Karavostasi, near Soloi': 'Soloi',
    'Mersinaki, near Soloi': 'Soloi',
    'Soloi Potamos tou Kambou': 'Soloi',
    'Soloi Potamos tou Kambou,': 'Soloi',

    # --- AUTRES ---
    'Rizokarpaso': 'Rhizokarpaso',
    'Ayios Athanansios': 'Ayios Athanasios',
    'Polemidhia': 'Pano Polemidia',
    'LimassoL': 'Limassol',
    'Athienou Golgoi': 'Athienou',
    'Politiko Tamassos': 'Tamassos',
    'Koupati, near Ledra': 'Ledra',
    'Gai, near Dromolaxia': 'Dromolaxia',
    'Drosistis, near Sinda': 'Sinda',
    'Vouni, necropolis': 'Vouni',
    'Vouni, temple of Athena': 'Vouni',
    'Vouni, temple of Artemis Paralia': 'Vouni',
    'Phasoulla, sanctuary of Zeus': 'Phasoulla',
    'Phasoulla, temple of Artemis Paralia': 'Phasoulla',
    'Akamas area': 'Akamas',
    'Akamas, temple area': 'Akamas',
    'Khapotami, 600 m. to the west': 'Khapotami',
    'Phrangissa, sanctuary of Apollo': 'Phrangissa',
    'between Ayios Epiktitos & Bellapais': 'Ayios Epiktitos'
}

df_inscriptions['Site'] = df_inscriptions['Place_Site'].replace(normalization_dict)
print(df_inscriptions['Site'].unique())
df_inscriptions.value_counts('Site')

[None 'Abydos' 'Ehnasya' 'Gebel Abou Fodah' 'Gizeh' 'Karnak' 'Naukratis'
 'Nubia, Bouhen' 'Shatt El-Saba El Rigal' 'Thebes' 'Athens' 'Delphi'
 'Rhodes' 'Tel Dor' 'Policoro' 'Sarepta' 'Sidon' 'Ras Shamra' 'Akanthou'
 'Akhna' 'Akrotiri' 'Salamis' 'Angastina' 'Arsos' 'Ayia Triada'
 'Ayios Varnavas' 'Sinda' 'Enkomi' 'Famagusta' 'Koma tou Yalou' 'Limnia'
 'Magrastica' 'Marathovounos' 'Phrenaros, near Famagusta' 'Rhizokarpaso'
 'Yalousa' 'Ayia Eirene' 'Ayios Ambrosios' 'Ayios Epiktitos' 'Dhiorios'
 'Harmanlar, near Kyrenia' 'Kazaphani' 'Kyrenia' 'Lapithos'
 'Melandrina, near Ayios Ambrosios' 'Asgata' 'Athienou' 'Dhekelia'
 'Dromolaxia' 'Hala Sultan Tekke' 'Kalavasos' 'Kellia' 'Kiti' 'Kophinou'
 'Larnaca' 'Laxia tou Solomou' 'Leukolla' 'Louroujina' 'Mari' 'Maroni'
 'Melousha, near Athienou' 'Pyla' 'Scarino' 'Tremetousha' 'Troulloi'
 'Amathus' 'Ano Kyvides' 'Anogyra' 'Apeshia' 'Avdemou' 'Ayios Athanasios'
 'Ayios Georgios' 'Kourion' 'Gerasa' 'Kato Pissouri' 'Khandria'
 'Khirokitia' 'Limassol' "Limassol 'Limnazousa" 'Limnati' 'Mathikoloni'
 'Mesa Yetonia' 'Moni' 'Mouttayiaka' 'Palodia' 'Pano Polemidia' 'Paramali'
 'Phasoulla' 'Pyrgos' 'Pyrgos, near Athienou' "Sotira 'Mandra tou Markou"
 'Souni' 'Spitali' 'Tochni' 'Trachoni' 'Tsiflikoudkia' 'Yermasoyia'
 'Akhera' 'Alambra' 'Aphania, near Chytroi' 'Argaki tou Ktistou'
 'Ayia Kepir' 'Chytroi' 'Deftera' 'Dhali' 'Galini' 'Kafizin' 'Soloi'
 'Kato Lakatamia' 'Katydhata' 'Klerou' 'Korakou' 'Koutrafas' 'Lakatamia'
 'Lefka' 'Lysi' 'Lythrodontas, near Nicosia' 'Meniko' 'Morphou' 'Nicosia'
 'Ornithi, near Chytroi' 'Paradeisia' 'Tamassos' 'Schera' 'Vouni'
 'Achelia' 'Akamas' 'Amargetti' 'Archimandrita' 'Armou' 'Ayia Moni'
 'Kouklia' 'Ayios Georghis tis Peyias' 'Chrysochou' 'Paphos' 'Khapotami'
 'Khloraka' 'Kissonerga' 'Kritou Terra' 'Mandria'
 'Marathounta, near Ktima' 'Palaiokastro' 'Pano Arodhes' 'Pissouri'
 'Platanistias' 'Polis' 'Rantidi' 'Stavros Myrtou' 'Tala'
 'west of Lakkos tou Phrangou' 'Aphendrika' 'Galinoporni' 'Kalopsidha'
 'Lefkoniko' 'Melandryna, near Ayios Amvrosios' 'Myrtou' 'Pyrga' 'Sanida'
 'Sotira' 'Dhenia' 'Ledra' 'Phrangissa' 'Toumba tou Skourou' 'Dhrymou'
 'Kato Arodhes' 'Lapithiou' 'Limni' 'Maa' 'Salamiou' 'Yeroskipou' 'Yialia'
 'Apliki']

Site
Amathus          494
Kouklia          468
Kafizin          340
Salamis          306
Larnaca          237
                ...
Thebes             1
Tochni             1
Tsiflikoudkia      1
Yeroskipou         1
Yialia             1
Name: count, Length: 171, dtype: int64

Après ça, on passe de 270 à 163 valeurs uniques dans Site

In [ ]:
df_inscriptions = df_inscriptions.drop(columns=['Place_Site'])
df_inscriptions

,Inscription #,Type,Place,Date,Nature,Material,Place_Region,Place_precision,Site
0,ICS #456: p.389,CS?,Cyrenaica,NaN,No interpretation: ancient (archaizing) imitat...,Serpentine scarab.,Cyrenaica,None,None
1,ICS #419: p.373,CS,Egypt: Abydos \r(temple of Ramses II),Classical\rearly 4th,PN: Timos \rson of Thursiya.,Stone wall. \rGraffito.,Egypt,temple of Ramses II,Abydos
2,ICS #392: pp.363-4,CS,Egypt: Abydos \r(temple of Seti I),Classical\rearly 4th,PN: Menokretes \rfrom Salamis.,Stone wall.\rGraffito.,Egypt,temple of Seti I,Abydos
3,ICS #388: p.362,EC?,Egypt: Abydos \r(temple of Seti I),Classical\rearly 4th,PN: an Eteo-Cypriot?,Stone wall. \rGraffito.,Egypt,temple of Seti I,Abydos
4,ICS #391: p.363,CS,Egypt: Abydos \r(temple of Seti I),Classical\rearly 4th,PN?,Stone wall. \rGraffito.,Egypt,temple of Seti I,Abydos
...,...,...,...,...,...,...,...,...,...
3800,Enkomi (Schaeffer) 1959 #4\r=Les cylindres-sce...,CM?,Famagusta: Enkomi,LC 3A,1 sign?,Cylinder seal:\rbrown steatite or serpentine.,Famagusta,None,Enkomi
3801,Louvre AM 1639\r=BCH 81 (1957) #9: pp.14-15,CM,Famagusta: Sinda,early LC 3A,1 sign.,Cylinder seal: hematite.,Famagusta,None,Sinda
3802,"Kourion B1625\r=Bamboula at Kourion, p.144\r",CM?,"Limassol: Kourion \r""Bamboula""",LC 3A,1 sign? (secondary carving),Cylinder seal:\rsteatite.,Limassol,Bamboula,Kourion
3803,"K-AD #448\r=K-AD II, p.40, fig.63:6",CM?,"Larnaca: Kalavasos ""Ayios Dhimitrios""",LC 2C,1 sign.,Metal weight.,Larnaca,Ayios Dhimitrios,Kalavasos
3804,"K-AD #449\r=K-AD II, p.40, fig.63:7",CM?,"Larnaca: Kalavasos\r""Ayios Dhimitrios""",LC 2C,1 sign.,Metal weight.,Larnaca,Ayios Dhimitrios,Kalavasos

In [ ]:
df_pas_vide = df_inscriptions[df_inscriptions['Site'].notna()]
df_pas_vide

,Inscription #,Type,Place,Date,Nature,Material,Place_Region,Place_precision,Site
1,ICS #419: p.373,CS,Egypt: Abydos \r(temple of Ramses II),Classical\rearly 4th,PN: Timos \rson of Thursiya.,Stone wall. \rGraffito.,Egypt,temple of Ramses II,Abydos
2,ICS #392: pp.363-4,CS,Egypt: Abydos \r(temple of Seti I),Classical\rearly 4th,PN: Menokretes \rfrom Salamis.,Stone wall.\rGraffito.,Egypt,temple of Seti I,Abydos
3,ICS #388: p.362,EC?,Egypt: Abydos \r(temple of Seti I),Classical\rearly 4th,PN: an Eteo-Cypriot?,Stone wall. \rGraffito.,Egypt,temple of Seti I,Abydos
4,ICS #391: p.363,CS,Egypt: Abydos \r(temple of Seti I),Classical\rearly 4th,PN?,Stone wall. \rGraffito.,Egypt,temple of Seti I,Abydos
5,ICS #381: p.360,CS,Egypt: Abydos \r(temple of Seti I),Classical\rearly 4th,PN: Zoophaos.,Stone wall.\rGraffito.,Egypt,temple of Seti I,Abydos
...,...,...,...,...,...,...,...,...,...
3800,Enkomi (Schaeffer) 1959 #4\r=Les cylindres-sce...,CM?,Famagusta: Enkomi,LC 3A,1 sign?,Cylinder seal:\rbrown steatite or serpentine.,Famagusta,None,Enkomi
3801,Louvre AM 1639\r=BCH 81 (1957) #9: pp.14-15,CM,Famagusta: Sinda,early LC 3A,1 sign.,Cylinder seal: hematite.,Famagusta,None,Sinda
3802,"Kourion B1625\r=Bamboula at Kourion, p.144\r",CM?,"Limassol: Kourion \r""Bamboula""",LC 3A,1 sign? (secondary carving),Cylinder seal:\rsteatite.,Limassol,Bamboula,Kourion
3803,"K-AD #448\r=K-AD II, p.40, fig.63:6",CM?,"Larnaca: Kalavasos ""Ayios Dhimitrios""",LC 2C,1 sign.,Metal weight.,Larnaca,Ayios Dhimitrios,Kalavasos
3804,"K-AD #449\r=K-AD II, p.40, fig.63:7",CM?,"Larnaca: Kalavasos\r""Ayios Dhimitrios""",LC 2C,1 sign.,Metal weight.,Larnaca,Ayios Dhimitrios,Kalavasos

---------
---------

Nettoyage de la colonne Date

In [ ]:
df_inscriptions.value_counts('Date')

Date
Hellenistic\r3rd BC\r(225/18)                    264
Roman\r2nd - 3rd AD                              257
Archaic\rlate 6th                                229
Classical\rearly 4th                             107
Archaic\r6th                                     106
                                                ...
Hellenistic\rmid 2nd BC\r(160)                     1
Hellenistic\rmid 2nd BC\r(163/58?)                 1
Hellenistic\rmid 2nd BC \r(145)                    1
Hellenistic\rmid 2nd BC \r(145/44)                 1
Classical\rlate 5th - early 4th BC (411- 374)      1
Name: count, Length: 673, dtype: int64

On voit qu'il y a beaucoup de valeurs uniques alors que ça pourrait être résumé très facilement, en mettant tout ce qui est après un retour à la ligne dans une nouvelle colonne par exemple.

In [ ]:
split_data = df_inscriptions['Date'].str.split(r'\r', n=1, expand=True)
if 1 in split_data.columns:
    df_inscriptions['Precision_Date'] = split_data[1].str.replace(r'\r', ' ', regex=True).str.strip()
df_inscriptions['Date'] = split_data[0].str.strip()
df_inscriptions['Precision_Date'] = df_inscriptions['Precision_Date'].fillna('')
df_inscriptions.value_counts('Date')

Date
Roman                       930
Hellenistic                 824
Archaic                     411
Classical                   245
LC                           87
                           ...
Roman- Byzantine              1
end LC                        1
late Archaic - Classical      1
late Hellenistic/Roman        1
seal = Mitannian style;       1
Name: count, Length: 81, dtype: int64

In [ ]:
print(df_inscriptions['Date'].unique())

[nan 'Classical' 'Archaic' 'LC 3B' 'LC 2C' 'LC 2C - 3A'
 'Classical - Hellenistic' 'Hellenistic' 'late Hellenistic/' 'Roman'
 'Roman?' 'Roman (Hadrianic)' 'Roman (Neronian)' 'late Hellenistic'
 'Roman (late)' 'Roman (Antonine)' 'Roman (Severan)'
 'late Hellenistic/ Roman' 'Roman (Flavian)' 'Roman (Julio-Cl.)'
 'Roman (Julio-Cl.?)' 'Roman (Severan?)' 'Roman (Augustan)' 'Archaic?'
 'Classical?' 'Hellenistic?' 'Roman- Byzantine' 'Roman (late Antonine'
 'Roman (Neronian?)' 'Roman (Aurelian?)' 'early Hellenistic'
 'Roman (Augustan?)' 'Hellenistic ?' 'Roman (late Severan)'
 'Hellenistic  - Roman' 'Roman (Hadrianic?)' 'late Hellenistic?'
 'Hellenistic  (3rd BC)? Roman (1st - 2nd AD)?' 'Hellenistic? Roman?'
 'Roman (Trajanic?)' 'Roman (Caligula)' 'Roman (Justinian)'
 'late Hellenistic/Roman' 'Classical - Hellenistic 5th - 4th? 3rd? BC'
 'Hellenistic/ Roman' 'Roman? (Severan?)' 'Roman (Trajanic)'
 'Roman (Domitian)' 'Roman (Antonine?)' 'Mycenaean? sub-Mycenaean?'
 'late Archaic - Classical' 'LC' 'LC 1?' 'LC 3A' 'LC 1B' 'LC 1'
 'early LC 3A' 'end LC 2C - 3A' 'LC 2B - C' 'LC 1? 2?'
 'Archaic - Classical' 'Iron Age' 'LC 3' 'LC 2B - 2C' 'LC 2' 'LC 2A'
 'Geometric' 'end LC' 'Archaic & Classical'
 'Archaic (7th) or later vase; inscr. later?' 'LC 1 - 2' 'LC 2B'
 'Classical/ Hellenistic' 'LC 2?' 'LC 1B?' 'Archaic? Classical?' 'CG 2'
 'CG?' 'LC 3? CG?' 'seal = Mitannian style;' 'LC 2  - 3' 'LC 3?']

In [ ]:
import numpy as np

periodes_cles = ['Classical', 'Hellenistic', 'Roman', 'Geometric', 'LC', 'Archaic']

df_inscriptions['Date'] = df_inscriptions['Date'].astype(str).replace('nan', '')

def extraire_periode(row_date):
    for p in periodes_cles:
        if p in row_date:
            return pd.Series([p, row_date])
    return pd.Series(["", row_date])
df_inscriptions[['Date', 'Date_Precision_2']] = df_inscriptions['Date'].apply(extraire_periode)
df_inscriptions.loc[df_inscriptions['Date'] == df_inscriptions['Date_Precision_2'], 'Date_Precision_2'] = ""

print(df_inscriptions['Date'].unique())
print(df_inscriptions.value_counts('Date'))

['' 'Classical' 'Archaic' 'LC' 'Hellenistic' 'Roman' 'Geometric']
Date
Roman          1033
Hellenistic     873
                851
Archaic         414
Classical       292
LC              212
Geometric         2
Name: count, dtype: int64

In [ ]:
df_inscriptions.value_counts('Date')

Date
Roman          1033
Hellenistic     873
                851
Archaic         414
Classical       292
LC              212
Geometric         2
Name: count, dtype: int64

In [ ]:
sans_date = df_inscriptions[df_inscriptions['Date'].isin(['', 'nan', None]) | df_inscriptions['Date'].isna()]
sans_date

,Inscription #,Type,Place,Date,Nature,Material,Place_Region,Place_precision,Site,Precision_Date,Date_Precision_2
0,ICS #456: p.389,CS?,Cyrenaica,,No interpretation: ancient (archaizing) imitat...,Serpentine scarab.,Cyrenaica,None,None,,
112,ICS #370a: p.422,CS,Egypt: Naukratis,,No interpretation.,Terracotta vase.,Egypt,None,Naukratis,,
115,ICS #420: p.373,CS,Egypt: Thebes \r(Valley of the Kings),,No interpretation.,Rock.\rGraffito.,Egypt,Valley of the Kings,Thebes,,
119,ICS #369c: p.422,EC?,Greece: Rhodes,,No interpretation.,Marble.,Greece,None,Rhodes,,
122,"Semitica 32 (1982) 45-49, pl.VII.1 \r= ICS #36...",CS & GA,Lebanon: Sarepta,,Dedication by Timon to \rAsklepios.,Stone.,Lebanon,None,Sarepta,,
...,...,...,...,...,...,...,...,...,...,...,...
3741,ICS #248: pp.263-4,CS & GA,"Nicosia: Chytroi\r""Ayios Dhimitrianos""",,Dedication.,Marble statuette base.,Nicosia,Ayios Dhimitrianos,Chytroi,,
3781,"Catalogue, p.90",GA \rCS\rPh,Cyprus,,Graffiti.,Terracotta vases: Greek black-glazed ware.,Cyprus,None,None,,
3785,ICA 7 (1967) #17,CS?,Cyprus,,"1 sign.\rPossibly, but probably not, CS.",Lead sling bullet.,Cyprus,None,None,,
3790,BM 97.4-1.711\r=BCH 81 (1957) #2: pp.8-9,CM,Famagusta: Enkomi,,4 signs.,Cylinder seal:\rlapis lazuli.,Famagusta,None,Enkomi,signs = secondary,seal = Mitannian style;
3797,BCH 81 (1957) #14: pp.19-20,CM,"Nicosia: Apliki ""Karamallos""",,1 sign.,Stamp seal: serpentine.,Nicosia,Karamallos,Apliki,,

------------
------------

In [ ]:
df_inscriptions

,Inscription #,Type,Place,Date,Nature,Material,Place_Region,Place_precision,Site,Precision_Date,Date_Precision_2
0,ICS #456: p.389,CS?,Cyrenaica,,No interpretation: ancient (archaizing) imitat...,Serpentine scarab.,Cyrenaica,None,None,,
1,ICS #419: p.373,CS,Egypt: Abydos \r(temple of Ramses II),Classical,PN: Timos \rson of Thursiya.,Stone wall. \rGraffito.,Egypt,temple of Ramses II,Abydos,early 4th,
2,ICS #392: pp.363-4,CS,Egypt: Abydos \r(temple of Seti I),Classical,PN: Menokretes \rfrom Salamis.,Stone wall.\rGraffito.,Egypt,temple of Seti I,Abydos,early 4th,
3,ICS #388: p.362,EC?,Egypt: Abydos \r(temple of Seti I),Classical,PN: an Eteo-Cypriot?,Stone wall. \rGraffito.,Egypt,temple of Seti I,Abydos,early 4th,
4,ICS #391: p.363,CS,Egypt: Abydos \r(temple of Seti I),Classical,PN?,Stone wall. \rGraffito.,Egypt,temple of Seti I,Abydos,early 4th,
...,...,...,...,...,...,...,...,...,...,...,...
3800,Enkomi (Schaeffer) 1959 #4\r=Les cylindres-sce...,CM?,Famagusta: Enkomi,LC,1 sign?,Cylinder seal:\rbrown steatite or serpentine.,Famagusta,None,Enkomi,,LC 3A
3801,Louvre AM 1639\r=BCH 81 (1957) #9: pp.14-15,CM,Famagusta: Sinda,LC,1 sign.,Cylinder seal: hematite.,Famagusta,None,Sinda,,early LC 3A
3802,"Kourion B1625\r=Bamboula at Kourion, p.144\r",CM?,"Limassol: Kourion \r""Bamboula""",LC,1 sign? (secondary carving),Cylinder seal:\rsteatite.,Limassol,Bamboula,Kourion,,LC 3A
3803,"K-AD #448\r=K-AD II, p.40, fig.63:6",CM?,"Larnaca: Kalavasos ""Ayios Dhimitrios""",LC,1 sign.,Metal weight.,Larnaca,Ayios Dhimitrios,Kalavasos,,LC 2C
3804,"K-AD #449\r=K-AD II, p.40, fig.63:7",CM?,"Larnaca: Kalavasos\r""Ayios Dhimitrios""",LC,1 sign.,Metal weight.,Larnaca,Ayios Dhimitrios,Kalavasos,,LC 2C

In [ ]:
df_inscriptions.to_csv('cyprus-inscriptions-nettoyees.csv', index=False)

Il faudra donc utiliser Site et Date dans les queries.
Maintenant, on peut passer au géocodage.